html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
	width: 100%;
    height: 100%;
	margin: auto;
	font-family: "Gill Sans", sans-serif;
}


#map {
	display:flex;
    margin: 0;
    width: 100%;
    height: 100%;
}

#container {
	margin: auto;
	width: 75%;
}

#loginForm, #signUpForm {
	border: solid black;
	border-radius: 20px;
	padding: 2em;
	display: flex;
	flex-direction: column;
}

input[type="text"], input[type="password"] {
	margin-bottom: 2em;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	transition: border-color 0.3s ease-in-out;
}
  
input[type="text"]:focus, input[type="password"]:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
  
input[type="submit"] {
	border: 1px solid #007bff;
    margin:0;
    padding:10px;
	border-radius: 5px;
	font-size: auto;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
	outline: none;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
  
input[type="submit"]:hover {
	background-color: #0056b3;
}
  
input[type="submit"]:focus {
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
  
label {
	display: block;
	font-size: 1em;
}
  
label.input-label {
	color: #333;
}
  
label.submit-label {
	color: #007bff;
	font-weight: bold;
}

h1.formTitle {
	text-align: center;
}

#errorMessage {
	margin: 1em;
	color: red;
}

#chat {
    height: 100%;
    width: 20%;
    background-color: black;
}


#messageBox {
    height:75%;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#messageInput {
    height:15%;
    background-color: red;
    display:flex;
    justify-content: center;
}

#message {
    margin:2%;
    width:80%;
    height:60%;
}

#messageOutput {
    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    word-wrap: break-word;
    overflow: auto;
    line-height:normal;
}

#messagerie {
    display:flex;
    height:80%;
    width:90%;
    align-items: center;
    justify-content: space-around;
}

#logOutForm {
	height:10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:5%;
}

#logOutForm input[type="submit"] {
	margin: 0;
    width:100%;
    padding:10px;
}

.formButton {
    width: 40%;
}



#grid-container {
    height: 100%;
    width: 80%;
    background-image: url("pokemon3.png");
    background-position: center center;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: repeat(120, auto);
}

.users {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: absolute;
}

.player {
    position: absolute;
    bottom : 0;
    z-index: 1000;
    width: 130%;
    height: auto;
}

.avatar {
    position: absolute;
    z-index: 1001;
    background-color: white;
    color:black;
    bottom:100%;
    width: auto;
    height: auto;
    font-size: 15px;
}



#decoButton {
    height:5%;
    background-color: blue;
}


textarea {
    resize : none;
    border-radius: 5px;
}