html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
	width: 100%;
    height: 100%;
	margin: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}


#map {
	display:flex;
    margin: 0;
    width: 100%;
    height: 100%;
}

#container {
	margin: auto;
	width: 75%;
}

#loginForm, #signUpForm, #newLogin, #newPass {
	border: solid black;
	border-radius: 20px;
	padding: 2em;
	display: flex;
	flex-direction: column;
}

input[type="text"], input[type="password"] {
	margin-bottom: 2em;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	transition: border-color 0.3s ease-in-out;
}
  
input[type="text"]:focus, input[type="password"]:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="submit"], button {
	border: 1px solid #007bff;
    margin:0;
    padding:10px;
	border-radius: 5px;
	font-size: auto;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
	outline: none;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
  
input[type="submit"]:hover, button:hover {
	background-color: #0056b3;
}
  
input[type="submit"]:focus, button:focus {
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
}

#reglages {
    width: 75%;
    margin: auto;
    border: solid black;
    border-radius: 20px;
}

label {
	display: block;
	font-size: 1em;
}
  
label.input-label {
	color: #333;
}
  
label.submit-label {
	color: #007bff;
	font-weight: bold;
}

h1.formTitle {
	text-align: center;
}

#errorMessage {
	color: red;
}

#chat {
    height: 100%;
    width: 20%;
    background-color: black;
}


#messageBox {
    height:75%;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#messageInput {
    height:15%;
    background-color: red;
    display:flex;
    justify-content: center;
}

#message {
    margin:2%;
    width:80%;
    height:60%;
}

#messageOutput {
    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    word-wrap: break-word;
    overflow: auto;
    line-height:normal;
}

#messagerie {
    display:flex;
    height:80%;
    width:90%;
    align-items: center;
    justify-content: space-around;
}

#logOutForm {
	height:10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:5%;
}

#logOutForm input[type="submit"] {
	margin: 0;
    width:100%;
    padding:10px;
}

#loginForm input[type="submit"], #signUpForm input[type="submit"] {
    margin: auto;
    width: 10%;
}

img.map {
    width: 100%;
    height: 100%;
}

#calque {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    z-index: 1001;
}

#grid-container {
    height: 100%;
    width: 80%;
    overflow: hidden;
}

.users {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: absolute;
}

.player {
    position: absolute;
    bottom : 0;
    z-index: 1000;
    width: 130%;
    height: auto;
}

div.avatar {
    font-weight: bold;
    position: absolute;
    z-index: 1009;
    background-color: white;
    color:black;
    bottom:100%;
    height: 1.5em;
    font-size: 15px;
    border-radius: 10%;
}

div.avatarUser {
    font-weight: bold;
    position: absolute;
    z-index: 1010;
    background-color: white;
    color:red;
    bottom:100%;
    height: 1.5em;
    font-size: 15px;
    border: red solid 2px;
    border-radius: 10%;
}

#decoButton {
    height:5%;
    background-color: blue;
}


textarea {
    resize : none;
    border-radius: 5px;
}

div.quitter {
    width: 50px;
    height: 50px;
    margin: 20px;
    border: solid black;
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

div.quitter img {
    width: 50px;
}

#reglages {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#reglages button, #reglages input[type="submit"] {
    margin: 20px;
}

div.retour {
    width: 50px;
    height: 50px;
    margin: 20px;
    border: solid black;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

div.retour img {
    width: 50px;
}

#vitre {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    width: 80%;
    height: 100%;
}

#JJ-town {
    position: absolute;
    text-align: center;
    margin-left: 5%;
}

#JJ-town h1 {
    font-size: 3em;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1.5px #fff;
}